@import './../commons.scss';


.footer {
  padding: 30px 0 30px 0;
  background-color: $colorSystemMercurySecond;// old $colorSystemShark

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding-top: 10px;
  }

  .copyright {
    color: $colorSystemJumbo;
  }
  
}