@import './../commons.scss';

.functionalityItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;

  &:last-child {
    margin-bottom: 0 !important;
  }

  .image {
    max-width: 350px;
    text-align: left;
  }

  .content {
    max-width: 712px;
    min-height: 311px;
    background-color: $colorWhite;
    @include  boxshadow($colorSystemForShadow);
    padding: 50px 70px 50px;
    border-radius: 16px;
  }

  .supTitle {
    font-family: $FirstFontMedium;
    background: $colorSystemRedThird;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 9px;
  }

  .text {
    line-height: 20px;
    color: #878789;
  }


  @media (max-width: 992px) {
    flex-direction: column;
    margin-bottom: 70px;

    .image {
      order: 1 !important;
      text-align: center;
      margin-bottom: 28px;
      margin-right: 0 !important;

      &>img {
        max-width: 278px;
      }
    }

    .content {
      order: 2 !important;
    }
  }

  @media (max-width: 576px) {
    .content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

