@import './../commons.scss';

.getDemo {
  max-width: 503px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: $colorWhite;
  border-radius: 30px;
  @include boxshadow();

  .field {
    background-color: $colorWhite;
    padding: 5px 16px 2px 41px;
    border-color: transparent;
    box-shadow: none;

    &::placeholder {
      font-size: 1rem;
      font-family: $FirstFontRegular;
    }
  }

  .btn {
    @include btn($colorSystemRedSeventh, $colorWhite , 30px, 18px, 40px); // old color $colorSystemRedThird
    min-width: 192px;
  }

  @media (max-width: 576px) {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
    background-color: transparent;
    box-shadow: none;

    .field {
      background: $colorWhite;
      max-width: 300px;
      height: 56px;
      padding: 18px 40px;
      margin-bottom: 13px;
      box-shadow: 0px 3px 5px #0000002e;
      border-radius: 30px;
    }

    .btn {
      width: 300px;
      max-width: 300px;
    }
  }

  @media (max-width: 370px) {
    .btn {
      width: 100%;
    }
  }
  
}