@import './../commons.scss';

.getDemo {
  position: relative;
  max-width: 503px;
  display: flex;
  align-items: center;
  //overflow: hidden;
  background: $colorWhite;
  border-radius: 30px;
  @include boxshadow();

  .field {
    background-color: $colorWhite;
    //padding: 5px 16px 2px 41px;
    padding: 16px 12px 16px 41px;
    border: solid 2px transparent;
    box-shadow: none;
    border-radius: 30px;

    &::placeholder {
      font-size: 1rem;
      font-family: $FirstFontRegular;
    }
  }

  &.error {
    .field {
      border-color: $colorAmaranth;
    }
  }

  .btn {
    @include btn($colorSystemRedSeventh, $colorWhite , 30px, 18px, 40px); // old color $colorSystemRedThird
    min-width: 192px;
  }

  .successRequest {
    text-align: center;
    padding: 15px;
    color: $colorWhite;
    background-color: $colorGreenSea;
    margin-bottom: 20px;
    border-radius: 8px;
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
  }

  @media (max-width: 576px) {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
    background-color: transparent;
    box-shadow: none;

    .field {
      background: $colorWhite;
      max-width: 300px;
      height: 56px;
      padding: 18px 40px;
      margin-bottom: 13px;
      box-shadow: 0px 3px 5px #0000002e;
      border-radius: 30px;
    }

    .btn {
      width: 300px;
      max-width: 300px;
    }

    .successRequest {
      top: 135px;
    }
  }

  @media (max-width: 370px) {
    .btn {
      width: 100%;
    }
  }
  
}