@import './../commons.scss';


.Header {
  margin-bottom: 56px;
  z-index: 10;
  
  .Innner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 26px;
  }

  .Logo {
    padding-right: 40px;


  }
  
  .grpList {
    width: calc(100% - 231px);
    display: flex;
    align-items: center;

    &.open {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: $colorSystemAlabaster;
      box-shadow: $colorSystemRedSixth;
      border-radius: 16px;
      z-index: 100;
      padding: 140px 20px 20px;

      .Menu {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;

        &Item {
          width: 100%;
          text-align: center;
          margin: 0 0 32px;
        }
      }

      .Btns {
        flex-direction: column;
        align-items: center;

        &Item {
          width: 100%;
          text-align: center;
          margin: 0 0 32px;

          &Link {
            color: $colorPizaze;
            &::before {
              background-color: $colorPizaze;
            }
          }

          &Btn {
            background-color: transparent;
            background-clip: unset !important;
            box-shadow: none;
            padding: 0;

            &>span {
              -webkit-text-fill-color: $colorPizaze !important;
              
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease;
                background: $colorPizaze;
              }
            }

            &:hover {
              &>span {
                background-color: transparent;
                background-clip: unset !important;
                -webkit-text-fill-color: $colorPizaze !important;

                &::before {
                  width: 0;
                }
              }
            }
          }
        }
      }

      .btnCloseMenu {
        position: absolute;
        top: 47px;
        right: 46px;
        display: inline-block;
      }
    }

    .btnCloseMenu {
      display: none;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  .Menu {
    display: flex;
    align-items: center;
    padding-top: 2px;

    &Item {
      margin-right: 51px;

      &:last-child {
        margin-right: 0;
      }

      &Link {
        color: $colorSystemShark;
        transition: all .3s linear;

        &:hover {
          color: $colorSystemRedCinnabar;
        }
      }
    }

    
  }

  .Btns {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 6px;

    &Item {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }

      &Link {
        @include link();

        &Second {
          display: none;
        }
      }

      &Btn {
        @include btn();
        @include boxshadow($colorSystemForShadow);
        
        &>span {
          @include  LinearGrandientText(); 
        }
      }
    }

  }

  .mobileMenu {
    width: 24px;
    height: 24px;
    margin-left: 59px;  //margin-left: auto;
    display: none;
  }


  @media (max-width: 992px) {
    .Logo {
      padding-right: 2px;
    }

    .Btns {
      &Item {
        &Link {
          &Second {
            display: inline-block;
            margin-left: auto;
          }
        }
      }
    }

    .mobileMenu {
      display: inline-block;
    }
  }


  @media (max-width: 768px) {
    .Logo {
      img {
        max-width: 180px;
      }
    }

    .mobileMenu {
      margin-left: 23px;
    }
  }
}