@import './../commons.scss';

.banner {
  position: relative;
  padding-bottom: 128px;
  

  .inner {
    display: flex;
    justify-content: space-between;
    //align-items: center;

    @media (max-width: 760px) {
      flex-direction: column;
    }
  }

  .content {
    width: 50%;
    max-width: 610px;
    margin-top: 87px;
    padding-left: 1px;

    @media (max-width: 992px) {
      width: 390px;
      min-width: 390px;
      margin-top: 50px;
    }

    @media (max-width: 760px) {
      width: 100%;
      max-width: 610px;
      margin-bottom: 35px;
      margin-top: 0;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      min-width: 100%;
    }
  }

  .title {
    margin-bottom: 9px !important;
    
  }

  .text {
    /*margin-bottom: 61px;
    font-size: 1.5rem;
    font-family: $FirstFontLight;*/
    @include subTitle();
    line-height: 1.875rem;
    margin-bottom: 39px;

    @media (max-width: 992px) {
      font-size: 1.125rem;
      line-height: 1.438rem;
    }
  }

  .image {
    width: 607px;
    min-height: 465px;
    text-align: center;

    @media (max-width: 992px) {
      width: 50%;
      max-width: 430px;
    }

    @media (max-width: 768px) {
      width: 50%;
      max-width: 300px;
      min-height: auto;
    }

    @media (max-width: 760px) {
      width: 100%;
      max-width: 290px;
      margin: auto;
      padding-top: 30px;
    }

    @media (max-width: 576px) {
      padding-top: 0;
    }
  }


  @media (max-width: 760px) {
    margin-bottom: 0;
  }
}