@import './../commons.scss';

.modal {
  .body {
    max-width: 580px;
    margin: auto;
  }

  .formBtns {
    margin-bottom: 20px;
  }

  .successRequest {
    text-align: center;
    padding: 15px;
    color: $colorWhite;
    background-color: $colorGreenSea;
    margin-bottom: 20px;
    border-radius: 8px;
  }

}