@import './../commons.scss';

.technologies {
  padding-top: 46px;
  padding-bottom: 66px;

  .title {
    text-align: center;
    margin-bottom: 15px !important;
  }

  .subTitle {
    @include subTitle();
    text-align: center;
    margin-bottom: 71px !important;
    font-size: 1.25rem;

    @media (max-width: 992px) {
      font-size: 1.125rem;
    }
  }

 /* .steps {
    height: 90px;
    margin-bottom: 45px;
    display: none;
  }

  .content {
    margin-top: 42px;
    max-width: 501px;
  }

  .image {
    text-align: center;
    padding-left: 38px;
  }

  .supTitle {
    font-family: $FirstFontMedium;
    background: linear-gradient(0deg, #FF5E3A 0%, #FF9500 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 9px;
  }

  .text {
    line-height: 20px;
    color: #878789;
  }*/
  
}