@import './commons.scss';

/*
* Title H1
*/
h1,
.h1 {
  @include FistTitle();
  line-height: 3.375rem !important;

  @media (max-width: 960px) {
    font-size: 2.125rem !important;
    line-height: 2rem !important;
  }
}

/*
* Title H2
*/
h2,
.h2 {
  @include FistTitle();
  margin-bottom: 50px !important;
}

/*
* Title H3
*/
h3,
.h3 {
  @include FistTitle(1.875rem);
  line-height: 31px !important;
  margin-bottom: 19px !important;

  @media (min-width: 769px) {
    font-size: 1.5rem;
  }
}

/*
* Title H4
*/
h4,
.h4 {
  @include FistTitle(1rem);
  margin-bottom: 15px !important;

  @media (min-width: 769px) {
    font-size: 1rem;
    line-height: 1rem;
  }
}

/*
* Title H5
*/
h5,
.h5 {
  @include FistTitle(1.125rem);
    font-family: $GolosBold;
    color: $colorBlack;
    margin-bottom: 31px !important;

  @media (min-width: 769px) {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}


/*
* Custom Container
*/
.container {
  //max-width: 1262px;
  min-width: 1262px;
}


/*
* Custom align
*/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}


/*
* Card
*/
.card {
  background: $colorWhite;
  border-radius: 10px;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 30px -18px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0px 0px 30px -18px rgba(0,0,0,0.5);
  border: none;

}


/*
* Custom Padding
*/
.pl-40 {
  padding-left: 40px;
}




/*
* Strong
*/
strong {
  font-family: $FirstFontMedium;
  letter-spacing: 1.02px;
}


/*
* Hide-for-mobile
*/
.hide-for-mobile,
br {
  @media (max-width: 767px) {
    display: none;
  }
}



/*
* Main
*/
.main {
  margin-bottom: 40px;
}



/*
* Modal
*/
.modal {
  &-dialog {
    max-width: 800px;
    background-color: $colorSystemAlabaster;
    box-shadow: $colorSystemRedSixth;
    border-radius: 16px;
  }

  &-header {
    border-bottom: none;
  }

  &-content {
    background-color: none;
    border: none;
    display: block;
  }

  .close {
    @include icons-formats(27px, 25px, 'i/icon-close.svg', $colorBalticSea, $colorSystemRedCinnabar);
    @include icons-layout(27px, 25px, 'i/icon-close.svg', $colorBalticSea, $colorSystemRedCinnabar);
    border: none;
    margin-top: 0px !important;
    margin-right: 5px !important;

    &:hover{
      background-color: $colorSystemRedCinnabar;
    }
  
    &:active,
    &:focus {
      background-color: $colorBalticSea;
    }
    span {
      display: none;
    }
    
  }

  &-backdrop {
    &.show {
      opacity: 0.4;
    }
  }
}



@import './ui/form';