/*
* COLOR
*/

//Default
$colorWhite: #fff;
$colorBlack: #000;
$colorRed: #ff0000;
$colorYellow: #ffd000;

$colorAmaranth: #ee2746;
$colorBiscay: #1b3073;


//Systeme Colors
$colorSystemRedCinnabar: #EB3637;
$colorSystemShark: #1C1C1E;
$colorSystemJumbo: #878789;
$colorSystemConcrete: #f2f2f2;
$colorSystemMystic: #EBEFF3;
$colorSystemMercury:#E5E5E5;
$colorSystemAlabaster: #f8f8f8;
$colorOutrageousOrange: #FF5E3A;
$colorPizaze: #FF9500;

$colorSystemRed : linear-gradient(0deg, #FF2A68 0%, #FF5E3A 100%);
$colorSystemRedSecond: linear-gradient(250.45deg, #FF5E3A 21.1%, #FF9500 167.47%);
$colorSystemRedThird: linear-gradient(0deg, #FF5E3A 0%, #FF9500 100%);
$colorSystemRedFourth: conic-gradient(from 0deg at 50% 50%, #FF2A68 0deg, #FF5E3A 360deg);
$colorSystemRedFifth: -10px -10px 20px #FFFFFF, 8px 8px 16px rgba(0, 0, 0, 0.15);
$colorSystemRedSixth: -3px -3px 10px rgba(255, 255, 255, 0.2), 8px 8px 16px rgba(0, 0, 0, 0.05);


//Flat Colors
$colorTurquoise: #1ABC9C;
$colorGreenSea: #16A085;

$colorEmerald: #2ECC71;
$colorNephritis: #27AE60;

$colorPeterRiver: #3498DB;
$colorBelizeHole: #2980B9;

$colorAmethyst: #9B59B6;
$colorWisteria: #8E44AD;

$colorSunFlower: #F1C40F;
$colorOrange: #F39C12;


$colorCarrot: #E67E22;
$colorPumpkin: #D35400;

$colorAlizarin: #E74C3C;
$colorPomegranate: #C0392B;

$colorClouds: #ECF0F1;
$colorSilver: #BDC3C7;

$colorConcrete: #95A5A6;
$colorAsbestos: #7F8C8D;

$colorWetAsphalt: #34495E;
$colorMidnightBlue: #2C3E50;



/*
* Fonts
*/
//SourceSansPro
$FirstFontBold: "SourceSansPro-Bold", sans-serif ;
$FirstFontMedium: "SourceSansPro-SemiBold", sans-serif;
$FirstFontRegular: "SourceSansPro-Regular", sans-serif ;
$FirstFontLight: "SourceSansPro-Light", sans-serif ;

//Golos
$GolosBold: "Golos-Bold", sans-serif ;
$GolosMedium: "Golos-Medium", sans-serif;
$GolosRegular: "Golos-Regular", sans-serif ;


