@import './resets.scss';
@import './fonts';
@import './variables';
@import './mixins';
@import './ui';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $colorSystemConcrete; // old $colorSystemMercury

  font-size: 1rem;
  font-family: $FirstFontRegular;
  color: $colorSystemShark;
  line-height: 1.25rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}
